@if (item) {
   
    <div class="row">
        <div class="col-sm-6">
            <h3>{{ item.title }}</h3>
            <h4><span class="badge text-bg-primary">{{ item.price }}₺</span></h4>
            @for (tag of item.tags; track $index) {
                <span class="badge text-bg-secondary fs-6 me-1">{{ tag }}</span>
            }
            <p class="mt-1">{{item.description}}</p>
        </div>
        <div class="col-sm-6">
            <img data-bs-toggle="modal" data-bs-target="#exampleModal" class="img-fluid" src={{bigImage}} alt={{item.title}} />
            @for (img of item.images; track $index) { 
                <img (click)="setBigImage(img)" role="button" class="img-thumbnail me-1" src={{img}} width="120" />
            }
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img class="img-fluid" src={{bigImage}} alt={{item.title}} />
            </div>
          </div>
        </div>
      </div>


}
